################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/public-tests/du1-test2my.out
/build.vc142/.vs/mlaskal/v16/Solution.VC.db-wal
/build.vc142/.vs/mlaskal/v16/Solution.VC.db-shm
/build.vc142/.vs/mlaskal/v16/Browse.VC.opendb
