################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/public-tests/du1-test2my.out
